.entry-footer .entry-meta {
  margin-bottom: 20px;
}

.genesis-post-social-buttons {
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 10px;
}

.genesis-post-social-buttons-facebook {
  color: #3b5998 !important;
}

.genesis-post-social-buttons-instagram {
  color: #517fa4 !important;
}
